@model UserFeedbackApp.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sentiment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sentiment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositiveValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegativeValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
